.team_pop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    width: 800px;
    display: flex;
    flex-direction: column;
    background-color: #333; /* Dark grey background */
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* White floating outline using box-shadow */
    cursor: pointer;
    z-index: 999;
    font-size: 16px;
    line-height: 1.5;
    padding: 1rem;
    color: #fff; /* White text color */
  }
  
  .team_pop .team_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .team_pop .team_logo img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 4px;
  }
  
  .team_pop .team_img img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 4px;
  }
  
  .team_pop .team_info header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .team_pop .team_info div {
    margin-bottom: 0.5rem;
  }
  
  .team_pop .team_info button {
    width: 160px;
    height: 40px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #fff; /* White text color */
    background: #000; /* Black background */
    border: 2px solid #000; /* Black border */
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .team_pop .team_info button:hover {
    background-color: #ff0000; /* Replace with your desired link hover background color */
    border-color: #ffffff; /* Replace with your desired link hover border color */
  }
  